.background_template, .background_1, .background_2, .background_3, .background_4 {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Raleway Regular, Calibri, "Trebuchet MS", sans-serif;
  height: 700px; }

.background_1 {
  background: #505153; }

.background_2 {
  background: #f9f9f9; }

.background_3 {
  background: #ffffff; }

.background_4 {
  background-color: #3375ee; }

.shadow {
  box-shadow: 0px 0px 10px #000; }

.font3 {
  position: absolute;
  left: 5%;
  font-family: Raleway Regular, Calibri, "Trebuchet MS", sans-serif;
  color: white;
  width: 15%;
  margin-top: 20px; }

div {
  text-align: center;
  margin-bottom: 5px; }

div4 {
  margin-right: 10px;
  position: absolute;
  right: 40px;
  top: 25px; }

div5 {
  margin-right: 40px;
  position: absolute;
  right: 60px;
  top: 25px; }

div6 {
  margin-right: 70px;
  position: absolute;
  right: 80px;
  top: 25px; }

nav ul {
  position: absolute;
  left: 30%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

nav li {
  float: left; }
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  nav li a:hover {
    background-color: #ddd;
    color: black; }

.font1 {
  font-family: Raleway Regular, Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 50px;
  color: #f9f9f9;
  margin-top: 5px; }

.font2 {
  font-family: Raleway Regular, Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 15px;
  color: #d5d5d5;
  font-weight: normal; }

.headline {
  font-family: Raleway Regular, Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 40px;
  padding-top: 150px;
  margin-left: 10%;
  margin-right: 10%; }

.lorem {
  padding-top: 5px;
  margin-left: 20%;
  margin-right: 20%;
  font-family: Raleway Regular, Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 15px; }

.page_2_p, .L1, .L2 {
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 50px;
  width: 40%; }

.button {
  clear: both;
  padding-top: 20px;
  font-family: Raleway Regular, Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 12px;
  left: 42%; }

button {
  font-size: 12px;
  width: 100px;
  height: 20px;
  background-color: #3375ee;
  border: 0;
  color: white;
  border-radius: 10px 10px 10px 10px; }

.font4 {
  font-family: Raleway Regular, Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 50px;
  color: #3b3d40;
  margin-bottom: 0; }

.font5 {
  font-family: Raleway Regular, Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 15px;
  color: #656b6f;
  font-weight: normal;
  margin-bottom: 40px;
  margin-top: 10px; }

#circle {
  width: 110px;
  height: 110px;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  border-radius: 55px;
  background: #666666;
  margin-top: 10px;
  margin-left: 25px; }

.position1 {
  position: absolute;
  left: 22%; }

.position2 {
  position: absolute;
  left: 42%; }

.position3 {
  position: absolute;
  left: 62%; }

.position4 {
  position: absolute;
  left: 10%;
  margin-top: 100px; }

.position5 {
  position: absolute;
  right: 10%;
  margin-top: 100px; }

.box {
  width: 155px;
  color: #656b6f;
  font-family: Raleway Regular, Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 10px; }

.previous {
  background-color: #f1f1f1;
  color: black; }

.next {
  background-color: #f1f1f1;
  color: black; }

.round {
  border-radius: 50%; }

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px; }

.headline4 {
  padding-top: 90px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: Raleway Regular, Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 15px;
  color: white; }

.left {
  position: absolute;
  left: 1%;
  color: white;
  margin-top: 100px; }

.right {
  position: absolute;
  right: 1%;
  color: white;
  margin-top: 100px; }

.big1 {
  float: left;
  height: 200px;
  width: 33%;
  margin-left: 5%;
  margin-right: 5%; }

.p1 {
  height: 150px;
  margin-top: 50px;
  width: auto;
  border-bottom: 0.5px solid white;
  font-family: Raleway Regular, Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: white;
  padding-bottom: 10%; }

John {
  font-family: Raleway Regular, Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: white; }

Vice {
  font-family: cursive;
  font-size: 12px;
  color: #E5E9F1; }

.big2 {
  float: left;
  height: 200px;
  width: 33%;
  margin-left: 5%;
  margin-right: 10%; }

.p2 {
  height: 150px;
  margin-top: 50px;
  border-bottom: 0.5px solid white;
  font-family: Raleway Regular, Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: white; }

@media only screen and (max-width: 750px) {
  .L1 {
    float: none;
    width: auto;
    font-size: 13.5px; }
  .L2 {
    float: none;
    width: auto;
    font-size: 13.5px; }
  .headline {
    height: auto;
    padding-top: 10%;
    text-align: left;
    font-size: 28px; }
  div7 {
    display: none; }
  .p1 {
    font-size: 15px; } }

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    margin: 0;
    padding: 0; }
  header {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #505153;
    height: 100px; }
  h3 {
    font-family: Raleway Regular, Calibri, "Trebuchet MS", sans-serif;
    color: white;
    margin-top: 25px;
    margin-left: 5%; }
  ul {
    display: none; }
  div1 {
    width: 22px;
    height: 3px;
    background-color: white;
    margin-bottom: 6px;
    position: absolute;
    right: 10%;
    margin-top: 25px; }
  div2 {
    width: 22px;
    height: 3px;
    background-color: white;
    margin-bottom: 6px;
    position: absolute;
    right: 10%;
    margin-top: 33px; }
  div3 {
    width: 22px;
    height: 3px;
    background-color: white;
    margin-bottom: 6px;
    position: absolute;
    right: 10%;
    margin-top: 41px; }
  div4 {
    display: none; }
  div5 {
    display: none; }
  div6 {
    display: none; }
  div7 {
    display: none; }
  div8 {
    position: absolute;
    left: 60%; }
  .L1 {
    float: none;
    width: auto;
    font-size: 12px; }
  .L2 {
    float: none;
    width: auto;
    font-size: 12px; }
  .headline {
    height: auto;
    padding-top: 10%;
    text-align: left;
    font-size: 25px; }
  .button {
    float: left;
    margin-bottom: 50px;
    margin-left: 30px; }
  .big2 {
    display: none; }
  .big1 {
    width: auto; } }

@media only screen and (max-width: 400px) {
  body {
    width: 100%;
    margin: 0;
    padding: 0; }
  header {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #505153;
    height: 100px; }
  h3 {
    font-family: Raleway Regular, Calibri, "Trebuchet MS", sans-serif;
    color: white;
    margin-top: 25px;
    margin-left: 5%; }
  .font4 {
    font-size: 40px; }
  ul {
    display: none; }
  div1 {
    width: 22px;
    height: 3px;
    background-color: white;
    margin-bottom: 6px;
    position: absolute;
    right: 10%;
    margin-top: 25px; }
  div2 {
    width: 22px;
    height: 3px;
    background-color: white;
    margin-bottom: 6px;
    position: absolute;
    right: 10%;
    margin-top: 33px; }
  div3 {
    width: 22px;
    height: 3px;
    background-color: white;
    margin-bottom: 6px;
    position: absolute;
    right: 10%;
    margin-top: 41px; }
  div4 {
    display: none; }
  div5 {
    display: none; }
  div6 {
    display: none; }
  div7 {
    display: none; }
  div8 {
    position: absolute;
    left: 60%; }
  div9 {
    display: none; }
  .L1 {
    float: none;
    width: auto;
    font-size: 12px; }
  .L2 {
    float: none;
    width: auto;
    font-size: 12px; }
  .headline {
    height: auto;
    padding-top: 10%;
    text-align: left;
    font-size: 25px; }
  .button {
    left: 5px; }
  .big2 {
    display: none; }
  .big1 {
    width: auto; } }
